<ion-content [fullscreen]="true">
  <ion-img style="height: 50vh" src="/assets/images/Onboarding.png"></ion-img>
  <ion-grid style="height: 50vh">
    <ion-row>
      <ion-col>
        <div class="container">
          <h1 class="ion-text-center bold">Start Cooking</h1>
          <p class="ion-text-center subtitle">Let’s join our community
            to cook better food!</p>
        </div>
        <ion-button size="large" routerLink="/login" class="mt-5" expand="block" shape="round" color="success">Get Started</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
