<ion-content>
  <div class="container">
    <h1 class="bold ion-text-center mt-5">Welcome</h1>
    <p class="subtitle-2 ion-text-center">Please enter your account here</p>
  </div>
  <ion-grid>
    <ion-row>
      <ion-col>
        <form [formGroup]="registerForm" (ngSubmit)="registerSubmit()">
          <ion-item class="input-round" lines="none">
            <ion-input formControlName="email" placeholder="Email or phone number"></ion-input>
            <ion-icon name="mail-outline" slot="start"></ion-icon>
          </ion-item>
          <ion-item class="input-round mt-2" lines="none">
            <ion-input [type]="inputType" formControlName="password" placeholder="Password"></ion-input>
            <ion-icon name="key-outline" slot="start"></ion-icon>
            <ion-icon name="eye" (click)="inputTypeToggle()" slot="end"></ion-icon>
          </ion-item>
          <div class="mt-2">
            <p>Your Password must contain:</p>
            <ion-text>
              <p class="flex ion-align-items-center" [class.secondary]="password.errors?.required">
                <ion-icon class="icon-medium"
                          [class.success]="!password.errors?.required"
                          name="checkmark-circle-outline"></ion-icon>
                <ion-label class="ml-1">Required</ion-label>
              </p>
            </ion-text>
            <ion-text>
              <p class="flex ion-align-items-center" [class.secondary]="password.errors?.minlength || password.errors?.required">
                <ion-icon class="icon-medium"
                          [class.success]="!password.errors?.minlength && !password.errors?.required"
                          name="checkmark-circle-outline"></ion-icon>
                <ion-label class="ml-1">Atleast 6 characters</ion-label>
              </p>
            </ion-text>
          </div>
          <ion-button
            [disabled]="registerForm.invalid"
            type="submit"
            size="large"
            class="mt-5"
            expand="block"
            shape="round"
            color="success"
          >Sign up</ion-button>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
